body {
/* background-color: black; */
background-image: url("https://img.redbull.com/images/w_2600/q_auto,f_auto/redbullcom/2015/12/27/1331767414211_2/star-wars-spaceships-death-star");
background-size: cover;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}